/*.main {
  vertical-align: center;
}*/
@import "/fonts/css/font-style.css";

h2 {
  font-weight: 400;
}
h4 {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4em;
}

.img-max {
  max-width: 512px;
  width: 80%;
  margin: auto;
}

.content-center {
  text-align: center;
}

.vertical-center {
  margin-top: 1.5em;
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.social-icon {
  font-size: xx-large;
  position: relative;
}

.btn-circle {
  width: 55px;
  height: 55px;
  line-height: 65px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  color: #ff8cc8;
  border-color: #ff8cc8;
}

.social-lines {
  font-weight: 500;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  text-align: left;
  direction: ltr;
}

@media all and (min-width: 550px) {
  .social-lines {
    padding-left: 3.5em;
  }
}
/*
.social-lines {
  text-align: left;
}*/
