/*.main {
  vertical-align: center;
}*/
@import "/fonts/css/font-style.css";

h4 {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4em;
}

.img-max {
  max-width: 512px;
  width: 80%;
  margin: auto;
}

.content-center {
  text-align: center;
}

.vertical-center {
  margin-top: 1.5em;
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.fab,
.fas {
  font-size: xx-large;
  position: relative;
}

.btn-circle {
  width: 55px;
  height: 55px;
  line-height: 65px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.social-lines {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  padding-left: 6em;
  text-align: left;
}

/*
.social-lines {
  text-align: left;
}*/
